body{
  background-image: url("asanoha.png");
  background-repeat: repeat;
  margin: auto;
}
table#content{
  display: block;
  width: 85%;
  margin: auto;
  border: 10px;
  border-style: solid;
  border-color: black;
  overflow: auto;
  padding: 5px;
}
table#t01 tr:nth-child(even) {
    background-color: yellow;
}
table#t01 tr:nth-child(odd) {
    background-color: lightblue;
}
